/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/*
=============== 
Theme Styles
===============
*/
.dark-theme {
  --clr-bg: #050f1a;
  --clr-primary: #ffd700;
  --clr-primary: #e43f5a;
  --clr-font: #eff5f5;
  --clr-about-lines: rgba(255, 255, 255, 0.05);
  --clr-border: 1px solid rgba(255, 255, 255, 0.2);
  --clr-contact-cards-border: 0.2px solid rgba(255, 255, 255, 1);
  --clr-input-bottom: var(--clr-white);
  --clr-input-focus: #00ff6a;
}

.light-theme {
  --clr-bg: #eff5f5;
  --clr-primary: #e43f5a;
  --clr-font: hsl(217, 10%, 25%);
  --clr-font-white: #fff;
  --clr-about-lines: rgba(0, 0, 0, 0.05);
  --clr-border: 1px solid rgba(250, 240, 240, 0.8);
  --clr-contact-cards-border: 0.2px solid rgba(0, 0, 0, 0.7);
  --clr-input-bottom: hsl(217, 10%, 25%);
  --clr-input-focus: #00ff6a;
}

/*
=============== 
Variables
===============
*/

:root {
  /* ad-hoc colors  */
  --clr-black: #000000;
  --clr-white: #fff;
  --clr-yellow: #ffd700;
  --clr-blue: #486bd6;
  /* --clr-nav: #102a42; */

  /* --ff-primary: "Roboto", sans-serif, monospace; */
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-logo: "Great Vibes", cursive;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-400: 400;
  /* 800: logo & Main Heading */
  --font-weight-800: 800;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --scale-up: 1.1;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;

  /* borders */
  --border-white: 1px solid var(--clr-white);
  --border-primary: 1px solid var(--clr-primary);

  /* Typography */
  --fs-heading-h1: clamp(3rem, 5vw + 1rem, 8rem);
  --fs-heading-h2: clamp(2rem, 3vw + 0.5rem, 4rem);
  --fs-heading-h3: clamp(1.2rem, 2vw + 0.5rem, 2.2rem);
  --fs-heading-h4: clamp(0.8rem, 1vw + 0.5rem, 2rem);
  --fs-text: clamp(1rem, 1vw + 0.5rem, 1.5rem);
  --fs-text-sm: clamp(0.8rem, 0.5vw + 0.1rem, 1.2rem);
  --fs-p-text: clamp(1rem, 1.2vw + 0.5rem, 1.8rem);
  --fs-logo: clamp(2rem, 2vw + 0.5rem, 3rem);
}

/*
=============== 
Global Styles
===============
*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
  font-size: 62.5%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-primary);
  color: var(--clr-font);
  line-height: 1.5;
  font-weight: var(--font-weight-400);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

body::before,
body::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width: 20rem;
  aspect-ratio: 1/1;
  filter: blur(180px);
  background: var(--clr-primary);
  /* border: 1px solid yellow; */
}

body::before {
  top: calc(0% + 10rem);
  left: 0%;
}

body::after {
  top: calc(100% - 20rem);
  left: calc(100% - 20rem);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: var(--fs-heading-h1);
}

h2 {
  font-size: var(--fs-heading-h2);
}

h3 {
  font-size: var(--fs-heading-h3);
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  font-size: var(--fs-text);
}

@media screen and (min-width: 800px) {
  h4 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  background: var(--clr-primary);
  border: none;
  color: (--clr-font);
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
}

.btn:hover {
  cursor: pointer;
  transform: translateY(1.5px);
  box-shadow: 0 0 15px var(--clr-primary);
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

/* sections */

/* Center the page contents */
.section-center {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

/* Control the section height and other styles */
.section {
  height: 95vh;
  padding: 3%;
}

@media screen and (min-width: 992px) {
  .section-center {
    /* width: 100%; */
  }
}

.underline {
  width: clamp(5rem, 5vw + 1rem, 10rem);
  height: 0.5rem;
  margin-bottom: 1.3rem;
  background: var(--clr-primary);
  margin: auto;
}

.section-title {
  margin: 1rem 0rem;
  text-align: center;
}

/* Services Section Background Color */
.bg-grey {
  background: var(--clr-primary-3);
}
